<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.barnettwong.basepro">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application
        android:name="com.barnettwong.basepro.app.WEApplication"
        android:allowBackup="true"
        android:icon="@mipmap/app_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        android:usesCleartextTraffic="true">

        <!--屏幕适配-->
        <meta-data
            android:name="design_width_in_dp"
            android:value="375" />

        <!--沉浸式  start-->
        <meta-data
            android:name="android.max_aspect"
            android:value="2.4" />
        <!-- 适配华为（huawei）刘海屏 -->
        <meta-data
            android:name="android.notch_support"
            android:value="true" />
        <!-- 适配小米（xiaomi）刘海屏 -->
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape" />
        <!--沉浸式  end-->

        <!-- Arms 配置 -->
        <meta-data
            android:name="com.barnettwong.basepro.app.GlobalConfiguration"
            android:value="ConfigModule" />

        <!-- bugly配置 start -->
        <!-- 配置APP ID -->
        <meta-data
            android:name="BUGLY_APPID"
            android:value="7eba9da5e7" />
        <!-- 配置APP版本号 -->
        <meta-data
            android:name="BUGLY_APP_VERSION"
            android:value="1.0.0" />
        <!-- 配置APP渠道号 -->
        <meta-data
            android:name="BUGLY_APP_CHANNEL"
            android:value="APP_CHANNEL" />
        <!-- 配置Bugly调试模式（true或者false） -->
        <meta-data
            android:name="BUGLY_ENABLE_DEBUG"
            android:value="true" />
        <!-- bugly配置 end -->


        <!-- android7.0文件访问 -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.barnettwong.basepro.boss_token.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!-- 启动页 -->
        <activity
            android:name="com.barnettwong.basepro.mvp.ui.activity.LauncherActivity"
            android:theme="@style/LauncherTheme">

            <!-- 程序入口 -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>